@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
  }
}

@layer components {
  .glass-nav {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(24px);
  }
  
  .editorial-shadow {
    box-shadow: 0 20px 40px rgba(25, 28, 29, 0.06);
  }
}
